/* 

Colors


body background: #131518
orange: #FF6D00
title: #FFF
input background: #242E39
number color: #7A869A
text color: #8C97A6


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  line-height: 1.6;
}

body {
  background-color: #131418;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-container {
  display: block;
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  border-radius: 30px;
  width: 415px;
  height: 415px;
}

.rating-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #242e39;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  margin-top: 2rem;
  margin-left: 2rem;
}

.rating-text {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 1.5rem;
}

.rating-text h1 {
  color: #fff;
  font-size: 28px;
}

.rating-text p {
  font-size: 15px;
  color: #969fad;
  margin-top: 12px;
}

form {
  margin: 1.3rem 0rem;
}

.radio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

input[type="radio"] {
  margin: 0 2rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

input[type="radio"]:after {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: -2px;
  left: -18px;
  position: relative;
  background-color: #262e38;
  content: "";
  display: inline-block;
  visibility: visible;
}

input[type="radio"]:checked:after {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: -3px;
  left: -17px;
  position: relative;
  background-color: #fc7614;
  content: "";
  display: inline-block;
  visibility: visible;
}

label {
  color: #fff;
  z-index: 2;
  font-size: 16px;
  transition: color 0.2s ease-in-out;
}

label:hover {
  color: #fff;
}

label[for="rating-1"] {
  position: absolute;
  top: 13px;
  left: 51px;
}
label[for="rating-2"] {
  position: absolute;
  top: 13px;
  left: 126px;
}
label[for="rating-3"] {
  position: absolute;
  top: 13px;
  left: 203px;
}

label[for="rating-4"] {
  position: absolute;
  top: 13px;
  left: 280px;
}

label[for="rating-5"] {
  position: absolute;
  top: 13px;
  left: 358px;
}

button {
  display: block;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  background: #fc7614;
  color: white;
  margin: 4.3rem auto;
  width: 340px;
  height: 45px;
  border-radius: 22px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background: #fff;
  color: #fc7614;
}

/* 
Thank You Component
*/

.thankyou-component {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #1d2530;
  border-radius: 30px;
  width: 415px;
  height: 415px;
}

.thankyou-img {
  margin-bottom: 1rem;
}

.dynamic-text {
  padding: 0.5rem 1.5rem;
  background: #232d39;
  color: #fc7614;
  border-radius: 30px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.thankyou-heading {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.thankyou-text {
  font-size: 15px;
  font-weight: 400;
  color: #949fae;
  text-align: center;
  padding: 0rem 2.5rem;
}
